*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand img{
    width: 70px;
    height: 70px;
}

.carousel-inner,
.carousel-inner img{
    height: 500px;
    object-fit: cover;
}

.card img{
    height: 250px;
}
.navbar , .nav-link{
    z-index: 99;
}
/* 
.carousel-control-prev{
    z-index: -1;
} */

iframe{
    width: 600px;
    height: 450px;
}

/* Responsiviteti / Media Screen */
/* max , min, min-max */
@media screen and (max-width:992px) {}

@media screen and (max-width: 400px){
   iframe{
    width: 100%;
   } 
   .navbar-brand img{
    width: 70px;
    height: 70px;
}

}